! ------------------------------------------------------------------------------
! Import Colour from ~/.xrdb
! ------------------------------------------------------------------------------

#include ".xrdb/color/nord"
#include ".xrdb/rofi/nord"
#include ".xrdb/dmenu/nord"
#include ".xrdb/fonts/tewi"

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------

URxvt.lineSpace: 		0
URxvt*internalBorder:   16
URxvt*externalBorder:   0
URxvt*depth:            32
URxvt*saveline:         2000
URxvt*termName:         rxvt-unicode-256color
URxvt*iso14755:         false
URxvt*scrollBar:        false
URxvt*scrollBar_right:  false
URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select,matcher,resize-font
URxvt.matcher.button:   1
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard
URxvt.keysym.M-c:       perl:clipboard:copy
URxvt.keysym.M-v:       perl:clipboard:paste
URxvt.keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.Shift-Up:	command:\033]720;1\007
URxvt.keysym.Shift-Down:command:\033]721;1\007
URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.url-launcher:     /usr/bin/xdg-open 
URxvt.underlineURLs:    true
URxvt.urlButton:        1
URxvt*buffered:         false          
URxvt.urgentOnBell: 	True
urxvt*background:       [85]#212121       
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt*dynamicColors: on
! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------
!URxvt.font:             xft:Inconsolata:pixelsize=12
Xft.autohint:           0
Xft.lcdfilter:          lcddefault
Xft.hintstyle:          hintslight
Xft.hinting:            1
Xft.antialias:          1
Xft.rgba:               rgb
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
